.header{
    flex-grow: 1;
    height: 60px;
    z-index: 1;
    background: #7A003C !important;
}

.left{
    flex-grow: 1;
    height: 60px;
}

.right{
    display: flex;
    height: 60px;
}
.icon {
    padding-left: 0px !important; 
    color: #B22222;
    width:50px;
    height:50px;
}
.title{
    margin-right: 10px !important;
}

.heading {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.title-icon{
    margin: 0px 8px 5px 0px;
}
.save-button {
    background: #FDBF57 !important;
    border: 1px solid black !important;
}

.cancel-button {
    background: white !important;
    border: 1px solid black !important;
}