.root {
    display: flex;
    height: 100%;
}

.drawer {
    width: 150px;
    z-index: 0;
}

.drawerPaper {
    background: #10151c !important;
    color: white !important;
    overflow: hidden;
}

.drawerContainer {
    overflow: auto;
}

.content {
    flex-grow: 1;
    padding: 5px 15px 0px 20px;
    height: 100%;
    background: white;
}

.nav-item{
    width: 100%;
}

.nav-item-text{
    margin-left: 20px;
}

.action-button{
    background: white !important;
}

.team-header{
    padding-left: 5px !important;
}

.team-header-title{
    flex-grow: 1;
    padding-left: 10px;
}

.selected-team{
    background: lightgrey !important;
}